<%= form_for @phlog, html: {:multipart => true} do |f| %>
  <% if @phlog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phlog.errors.count, "error") %> prohibited this phlog from being saved:</h2>

      <ul>
      <% @phlog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.hidden_field :key %>
  </div>

  <p>File: <%= @phlog.picture_name %></p>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
